<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Concerts</title>
	<meta name="description" content="All concerts in the Kölner Philharmonie at a glance. Use the overview in our concert calendar."/>
	<meta name="author" content="m.i.r. media - Digital Agency - www.mir.de" />
	<meta name="google-site-verification" content="TzojqP5xrLoWMpLj9Pf2xmefr35M3yUDv0iIIIdo45Q" />

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.koelner-philharmonie.de/en/programm" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Konzerte in der Kölner Philharmonie" />
	<meta property="og:description" content="Alle Konzerte in der Kölner Philharmonie auf einen Blick. Nutzen Sie die Übersicht in unserem Konzertkalender." />
	<meta property="og:image" content="https://www.koelner-philharmonie.de" />

	<meta name="twitter:title" content="Konzerte in der Kölner Philharmonie">
	<meta name="twitter:description" content="Alle Konzerte in der Kölner Philharmonie auf einen Blick. Nutzen Sie die Übersicht in unserem Konzertkalender.">
	<meta name="twitter:image" content="https://www.koelner-philharmonie.de">
	<meta name="twitter:card" content="summary_large_image">

	<meta property="fb:page_id" content="91985799658" />
	<meta property="fb:app_id" content="159766634043431" />
	<meta property="article:author" content="K&ouml;lner Philharmonie" />
	<meta property="og:site_name" content="K&ouml;lner Philharmonie" />
	<meta property="og:location" content="K&ouml;lner Philharmonie" />
	<meta property="og:latitude" content="51.151786" />
	<meta property="og:longitude" content="10.415039" />
	<meta property="og:street-address" content="Bischofsgartenstrasse 1" />
	<meta property="og:locality" content="K&ouml;ln" />
	<meta property="og:region" content="NRW" />
	<meta property="og:postal-code" content="50667" />
	<meta property="og:country-name" content="Germany" />
	<meta property="og:phone" content="+49221280280" />

	<!-- END OF OG TAGS -->

	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">

	<!-- <link rel="stylesheet" href="https://fonts.typotheque.com/WF-031234-010291.css" type="text/css" /> -->
	<link href="/static/template/css/WF-031234-010291.css" type="text/css" rel="stylesheet" />

	<link rel="SHORTCUT ICON" href="/static/template/images/favicons/favicon.ico" />
	<link rel="icon" type="image/png" sizes="32x32" href="/static/template/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/template/images/favicons/favicon-16x16.png">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/template/images/favicons/apple-touch-icon.png">
	<link rel="manifest" href="/static/template/images/favicons/site.webmanifest">
	<link rel="icon" type="image/png" href="/static/template/images/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/template/images/favicons/android-chrome-512x512.png" sizes="512x512">

	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/template/images/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/template/images/favicons/browserconfig.xml" />

	<meta name="apple-mobile-web-app-title" content="Kölner Philharmonie">
	<meta name="application-name" content="Kölner Philharmonie">

	<link href="/static/components/CookieManager/css/app.css" type="text/css" rel="stylesheet" />
	<link href="/static/template/css/build/app.min.css" type="text/css" rel="stylesheet" />
	<link href="/static/css/bookmarks.css" type="text/css" rel="stylesheet" />
	

	
	<link href="/static/pageeditor/css/kristall-cms.css" type="text/css" media="all" rel="stylesheet" />

	
	

	
		<!-- Google Tag Manager -->
<div data-cookie-consent="googleTagManager">
  <!--if-consent
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKL69NB');</script>
    endif-->
</div>
<!-- End Google Tag Manager -->
	

</head>
<body data-template="">

	<!-- Google Tag Manager (noscript) -->
	<div data-cookie-consent="googleTagManager">
		<!--if-consent
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKL69NB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		endif-->
	</div>
	<!-- End Google Tag Manager (noscript) -->

	<!-- start:page-container -->
	
	<div id="pagecontainer" class="page-container ">
		
		



<!-- start:header-container -->
<header class="header-container">

	<!-- .old-browser-bar -->
	<div class="old-browser-bar is-hidden">
		<p>Your web browser is out-of-date. Update your browser for more security, comfort and the best experience on this site.</p>
	</div>
	<!-- /.old-browser-bar -->

	<!-- .cart-bar -->
	<div class="cart-bar has-items is-hidden">
		<a href="#" class="menu-meta-item"><span class="icon-tickets"><span class="badge">2</span></span></a>
	</div>
	<!-- /.cart-bar -->
	
	<div class="header-bar">
		<div class="header-inner">
			<div class="button-up"><span class="icon-arrow-down"></span></div>
			<div class="button-back"><span class="icon-arrow-left"></span></div>
			<div class="button-search"><span class="icon-magnifier"></span></div>

			<!-- .overlay-search -->
			<div class="overlay-search" id="search-menu-mobile">

				<div class="wrapper">
					<div class="search-icon"><span class="icon-magnifier"></span></div>
					<div class="search-input" id="search-input-mobile">
						<input type="text" placeholder="Suchbegriff"  id="search-mobile">
						<div class="clear"><span class="icon-cross-circled"></span></div>
					</div>
					<div class="close-icon">
						<span>Cancel</span>
					</div>
				</div>

				<div class="loading hide">
					<div class="loading-state"><div></div><div></div><div></div><div></div></div>
				</div>
				<div class="search-results" id="search-results-mobile"></div>
			</div>
			<!-- /.overlay-search -->

			<!-- .overlay-bookmarks -->
			<div class="overlay-bookmarks" id="bookmarks-menu-mobile">
				

<!-- .dropdown -->
<div id="bookmarks" class="dropdown bookmarks bookmarks-list">

</div>
<!-- /.dropdown -->

<script type="text/javascript">
    function PrintElem(elem) {
        var bookmarks_window = window.open('', 'PRINT', 'height=600,width=800');

		bookmarks_window.document.write('<html class="print-view"><head><title>' + document.title + '</title>');
		bookmarks_window.document.write('' +
		'<link rel="stylesheet" href="https://fonts.typotheque.com/WF-031234-010291.css" type="text/css" />' +
		'<link href="/static/template/css/build/app.min.css" type="text/css" rel="stylesheet">')
        bookmarks_window.document.write('</head><body data-template="bookmarks" onload="javascript:window.print()">');
        bookmarks_window.document.write(document.getElementById(elem).innerHTML);
		bookmarks_window.document.write('</body></html>');

        bookmarks_window.document.close(); // necessary for IE >= 10
        bookmarks_window.focus(); // necessary for IE >= 10*/

        setTimeout(function() {
			bookmarks_window.close()
		}, 1000);
    }
</script>
				<button class="close">
					<span class="icon-cross"></span>
					Schließen
				</button>
				<!-- TODO: doppelte ID für bookmarks -->
			</div>
			<!-- /.overlay-bookmarks -->

			<div class="logo">
				<a href="/en/">
					<span class="icon-logo-white"></span>
				</a>
			</div>
			<div class="site-title">
				<a href="/en/">Kölner Philharmonie</a>
			</div>
			<div class="button-menu"><span class="icon-menu"></span></div>
			<div class="button-close"><span class="icon-cross"></span></div>
			<div class="menu-main">
				<nav>
					<ul>
					
							

							
							
							<li class=" in_menu-True home">
								
									<a href="/en/" class="menu-main-item">
									<span class="text">Kölner Philharmonie</span>
									</a>
								
								
							</li>
							
						

							
							
							<li class="active in_menu-True concerts">
								
									<a href="/en/programm" class="menu-main-item">
									<span class="text">Concerts</span>
									</a>
								
								
							</li>
							
						

							
							
							<li class=" in_menu-True discover-music">
								
									<a href="/en/music-discover" class="menu-main-item">
									<span class="text">Discover music</span>
									</a>
								
								
							</li>
							
						

							
							
							<li class=" in_menu-True more">
								
									<a href="/en/more" class="menu-main-item has-subs with-click">
									<span class="text">More</span>
									</a>
								
								
								<div class="dropdown with-click more">
										<div class="row">
								

						
						
							<div class="columns">
								<p class="title-headline service">Service</p>
							

						   <nav class="menu-sub">
							
								

						<a href="/en/visit" class="menu-sub-item">Route/Accomodation</a>
						
							
								

						<a href="/en/konzertbesuch" class="menu-sub-item">Attending events</a>
						
							
								

						<a href="/en/accessibility" class="menu-sub-item">Accessibility</a>
						
							
								

						<a href="/en/ticket-sales" class="menu-sub-item">Ticket Sales</a>
						
							
								

						<a href="/en/gift-vouchers" class="menu-sub-item">Gift vouchers</a>
						
							
								

						<a href="/en/printed-programme" class="menu-sub-item">Season programme printed</a>
						
							
								

						<a href="/en/das-magazin" class="menu-sub-item">Das Magazin</a>
						
							
								

						<a href="/en/podcast" class="menu-sub-item">Podcast</a>
						
							
								

						<a href="/en/programme-notes" class="menu-sub-item">Programme notes</a>
						
							
								

						<a href="/en/faq" class="menu-sub-item">FAQ</a>
						
							
								

						<a href="/en/news" class="menu-sub-item">News</a>
						
							
							</nav>
							
							</div>
						
						

						
						
							<div class="columns">
								<p class="title-headline service">Die Philharmonie</p>
							

						   <nav class="menu-sub">
							
								

						<a href="/en/die-koelner-philharmonie" class="menu-sub-item">The  Kölner Philharmonie</a>
						
							
								

						<a href="/en/saalplan" class="menu-sub-item">Seating plan</a>
						
							
								

						<a href="/en/organ" class="menu-sub-item">Organ</a>
						
							
								

						<a href="/en/resident-orchestra" class="menu-sub-item">Resident Orchestras</a>
						
							
								

						<a href="/en/ECHO" class="menu-sub-item">ECHO</a>
						
							
								

						<a href="/en/timeline" class="menu-sub-item">Timeline</a>
						
							
							</nav>
							
							</div>
						
						
										</div>
								</div>
								
							</li>
							
						
						
					</ul>
						</nav>
					</div>
					<div class="menu-meta">
						<nav>
							<ul>
								<li class="tickets">
									<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shoppingcart" class="menu-meta-item"><span class="icon-tickets"><span class="badge"></span></span><span class="text">Cart</span></a>
								</li>
								<li class="bookmarks bookmarks-in-menu">
									<a href="#" class="menu-meta-item with-click"><span class="icon-star bookmarks-icon-star"></span><span class="text">Bookmarks</span></a>
									

<!-- .dropdown -->
<div id="bookmarks" class="dropdown bookmarks bookmarks-list">

</div>
<!-- /.dropdown -->

<script type="text/javascript">
    function PrintElem(elem) {
        var bookmarks_window = window.open('', 'PRINT', 'height=600,width=800');

		bookmarks_window.document.write('<html class="print-view"><head><title>' + document.title + '</title>');
		bookmarks_window.document.write('' +
		'<link rel="stylesheet" href="https://fonts.typotheque.com/WF-031234-010291.css" type="text/css" />' +
		'<link href="/static/template/css/build/app.min.css" type="text/css" rel="stylesheet">')
        bookmarks_window.document.write('</head><body data-template="bookmarks" onload="javascript:window.print()">');
        bookmarks_window.document.write(document.getElementById(elem).innerHTML);
		bookmarks_window.document.write('</body></html>');

        bookmarks_window.document.close(); // necessary for IE >= 10
        bookmarks_window.focus(); // necessary for IE >= 10*/

        setTimeout(function() {
			bookmarks_window.close()
		}, 1000);
    }
</script>
								</li>
								<li class="search">
									<a href="#" class="menu-meta-item with-click"><span class="icon-magnifier"></span><span class="text">Search</span></a>
									

<!-- .dropdown -->
<div class="dropdown search transparent" id="search-menu">
	<div class="row">
		<div class="column large-12 input">
			<span class="icon-magnifier"></span>
			<input type="text" autocomplete="off" placeholder="Search e.g. by date, artist, musical work.." id="search">
		</div>

		<div class="loading hide">
			<div class="loading-state"><div></div><div></div><div></div><div></div></div>
		</div>
		<div class="column large-12 search-results" id="search-results"></div>
	</div>
	<div class="close">
		<span class="icon-cross"></span>
	</div>
</div>
<!-- /.dropdown -->

								</li>
								<li class="language languageswitch">
									<a href="#" class="menu-meta-item has-subs with-click">En</a>
									<!-- .dropdown -->
									<div class="dropdown language">
										<div class="row collapse">
											<div class="column">
												<nav class="menu-language">
													
													
													<a href="/de/programm/26-08-2022" id="de" class="menu-language-item">
														
															Deutsch
														
													</a>
													
													<a href="/en/programm/26-08-2022" id="en" class="menu-language-item is-active">
														
															English
														
													</a>
													
												</nav>
											</div>
										</div>
									</div>
									<!-- /.dropdown -->
								</li>
							</ul>
						</nav>
					</div>

				</div>
			</div>

			<div class="fake-header-bar"></div>
			<div class="dropdown-background"></div>

		</header>
		<!-- end:header-container -->

		<main class="content-container">
			
				
			<div id="event-content" class="content-inner">

				<!-- section -->
				<section>
					<h1 class="text-center" lang="en">Concerts</h1>
					

<div class="menu-tabs full-width">
    <nav>
        <a href="/en/programm" class="menu-tabs-item is-active">Concerts</a>
        <a href="/en/abos" class="menu-tabs-item">Subscriptions</a>
        <a href="/en/series" class="menu-tabs-item large">Festivals and Series</a>
        <a href="/en/for-families" class="menu-tabs-item">For Families</a>
        <a href="/en/programm/participant" class="menu-tabs-item">Artists</a>
        <a href="/en/programm/composer" class="menu-tabs-item">Composers</a>
    </nav>
</div>


					<!-- desktop -->
					<div class="event-filters event-list-filters desktop">
						<div class="calendar-wrapper">
							<div class="filter-label">August</div>
							<div class="dropdown absolute">
								<div class="close">
									<span class="icon-cross"></span>
								</div>
								<div class="custom-calendar-previous-button"><div class="wrapper"><span class="icon-arrow-left"></span></div></div>
								<div class="calendar no-arrows left"></div>
								<div class="calendar no-arrows right"></div>
								<div class="custom-calendar-next-button"><div class="wrapper"><span class="icon-arrow-right"></span></div></div>
							</div>
						</div>
						<div class="checkbox dark small">
							<input type="checkbox" id="koelner-philharmonie-desktop" checked data-url="/en/programm/26-08-2022/alle">
							<label for="koelner-philharmonie-desktop">in the Kölner Philharmonie</label>
						</div>
						<select class="dark width-auto large margin-left-auto">

							

							<option class="hide" >Exciting for</option>

							
							<option data-url="/en/programm/26-08-2022/musikprofis">music professional</option>
							
							<option data-url="/en/programm/26-08-2022/kinder">Kids and families</option>
							
							<option data-url="/en/programm/26-08-2022/opern-und-operettenf">Opern- und Operettenfreunde</option>
							
							<option data-url="/en/programm/26-08-2022/experimentierfreudig">Experimentierfreudige</option>
							
						</select>
						<select class="dark width-auto large">

							

							<option class="hide" >Music style</option>

							
							<option data-url="/en/programm/26-08-2022/alte-musik">old musik</option>
							
							<option data-url="/en/programm/26-08-2022/chanson">Chanson</option>
							
							<option data-url="/en/programm/26-08-2022/chormusik">choral music</option>
							
							<option data-url="/en/programm/26-08-2022/elektronische-musik">electronic music</option>
							
							<option data-url="/en/programm/26-08-2022/filmfilmmusik">Film/Filmmusic</option>
							
							<option data-url="/en/programm/26-08-2022/jazzpop">Jazz/Pop</option>
							
							<option data-url="/en/programm/26-08-2022/kammermusik">Chamber music/piano</option>
							
							<option data-url="/en/programm/26-08-2022/klaviermusik">Klavier</option>
							
							<option data-url="/en/programm/26-08-2022/kolsche-ton">Kölsche Tön</option>
							
							<option data-url="/en/programm/26-08-2022/liederabend">Song recitals</option>
							
							<option data-url="/en/programm/26-08-2022/musicaltanz">Musical/Dance</option>
							
							<option data-url="/en/programm/26-08-2022/neue-musik">New music</option>
							
							<option data-url="/en/programm/26-08-2022/operoperette">Opera/Operetta</option>
							
							<option data-url="/en/programm/26-08-2022/sinfonische-musik">Symphonic music</option>
							
							<option data-url="/en/programm/26-08-2022/weltmusik">World music</option>
							
						</select>
					</div>
					<!-- /desktop -->

					<!-- mobile -->
					<div class="event-filters event-list-filters mobile">
						<div class="left">
							<div class="filter-label">August</div>
							<div class="dropdown">
								<div class="calendar light"></div>
							</div>
						</div>
						<div class="right">
							<div class="filter-label">Filter</div>
							<div class="dropdown">
								<div class="checkbox dark small">
									<input type="checkbox" id="koelner-philharmonie-mobile" checked data-url="/en/programm/26-08-2022/alle">
									<label for="koelner-philharmonie-mobile"><a href="/en/programm/26-08-2022/alle">in the Kölner Philharmonie</a></label>
								</div>
								<hr>
								<select class="dark width-auto large margin-left-auto no-selectric">
									<option>Exciting for</option>
									
									<option data-url="/en/programm/26-08-2022/musikprofis">music professional</option>
									
									<option data-url="/en/programm/26-08-2022/kinder">Kids and families</option>
									
									<option data-url="/en/programm/26-08-2022/opern-und-operettenf">Opern- und Operettenfreunde</option>
									
									<option data-url="/en/programm/26-08-2022/experimentierfreudig">Experimentierfreudige</option>
									
								</select>
								<hr>
								<select class="dark width-auto large no-selectric">
									<option>Music style</option>
									
									<option data-url="/en/programm/26-08-2022/alte-musik">old musik</option>
									
									<option data-url="/en/programm/26-08-2022/chanson">Chanson</option>
									
									<option data-url="/en/programm/26-08-2022/chormusik">choral music</option>
									
									<option data-url="/en/programm/26-08-2022/elektronische-musik">electronic music</option>
									
									<option data-url="/en/programm/26-08-2022/filmfilmmusik">Film/Filmmusic</option>
									
									<option data-url="/en/programm/26-08-2022/jazzpop">Jazz/Pop</option>
									
									<option data-url="/en/programm/26-08-2022/kammermusik">Chamber music/piano</option>
									
									<option data-url="/en/programm/26-08-2022/klaviermusik">Klavier</option>
									
									<option data-url="/en/programm/26-08-2022/kolsche-ton">Kölsche Tön</option>
									
									<option data-url="/en/programm/26-08-2022/liederabend">Song recitals</option>
									
									<option data-url="/en/programm/26-08-2022/musicaltanz">Musical/Dance</option>
									
									<option data-url="/en/programm/26-08-2022/neue-musik">New music</option>
									
									<option data-url="/en/programm/26-08-2022/operoperette">Opera/Operetta</option>
									
									<option data-url="/en/programm/26-08-2022/sinfonische-musik">Symphonic music</option>
									
									<option data-url="/en/programm/26-08-2022/weltmusik">World music</option>
									
								</select>
							</div>
						</div>
					</div>
					<!-- /mobile -->

					<div class="event-filters-selected">
						
						
					</div>

				</section>
				<!-- /section -->

				<!-- section -->
				<section>
					<div class="event-list">
						<div class="event-list-items">
							


    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/bodo-wartke-melanie-haupt-alte-bekannte-und-andere/2730">
		<div class="date-time">
			<p class="day-word">Sat</p>
			<p class="day-number">27</p>
			<p class="month">Aug</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/bodo-wartke-melanie-haupt-alte-bekannte-und-andere/2730">

        

					
				<p class="title">Bodo Wartke | Melanie Haupt | Alte Bekannte und andere</p>
				<p class="subtitle">Benefizkonzert für CASA HOGAR</p>
				<p class="description">Bodo Wartke | Melanie Haupt | Magdalena Hoffmann | Alte Bekannte | Mädchenchor am Kölner Dom | fiat ars | Uniorchester Bonn – Camerata Musicale | Internationaler Chor der Universität Bonn | Ludger Vollmer | Thielko Grieß | Catalina Valencia</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=5838&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/ad/43/ad433be8-c1c0-4882-bb14-dec27c3ec72a/casa_hogar_banner_philh22neu.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/bodo-wartke-melanie-haupt-alte-bekannte-und-andere/2730"></a>
			<div class="add-to-bookmarks" data-id="2730" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/feuertrunken-festkonzert/2099">
		<div class="date-time">
			<p class="day-word">Sun</p>
			<p class="day-number">28</p>
			<p class="month">Aug</p>
			<p class="time">11:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/feuertrunken-festkonzert/2099">

        

					
				<p class="title">Feuertrunken - Festkonzert</p>
				<p class="subtitle">Bürgerchor | Gürzenich-Orchester Köln | François-Xavier Roth</p>
				<p class="description">Asmik Grigorian | Anaïk Morel | Sebastian Kohlhepp | Matthew Rose | Bürgerchor | Michael Ostrzyga | Gürzenich-Orchester Köln | François-Xavier Roth: Beethoven</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=200&amp;event=10724&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/e0/5b/e05be1bb-29c5-4d78-bb66-7101e7b070d8/guerzenich_orchester_koeln_holger_talinski_km132323.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/feuertrunken-festkonzert/2099"></a>
			<div class="add-to-bookmarks" data-id="2099" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/feuertrunken-festkonzert/3021">
		<div class="date-time">
			<p class="day-word">Sun</p>
			<p class="day-number">28</p>
			<p class="month">Aug</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/feuertrunken-festkonzert/3021">

        

					
				<p class="title">Feuertrunken - Festkonzert</p>
				<p class="subtitle">Bürgerchor | Gürzenich-Orchester Köln | François-Xavier Roth</p>
				<p class="description">Asmik Grigorian | Anaïk Morel | Sebastian Kohlhepp | Matthew Rose | Bürgerchor | Michael Ostrzyga | Gürzenich-Orchester Köln | François-Xavier Roth: Beethoven</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=200&amp;event=10725&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/e0/5b/e05be1bb-29c5-4d78-bb66-7101e7b070d8/guerzenich_orchester_koeln_holger_talinski_km132323.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/feuertrunken-festkonzert/3021"></a>
			<div class="add-to-bookmarks" data-id="3021" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/anna-netrebko-yusif-eyvazov/2101">
		<div class="date-time">
			<p class="day-word">Mon</p>
			<p class="day-number">29</p>
			<p class="month">Aug</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      
			<a href="https://www.koelner-philharmonie.de/en/programm/anna-netrebko-yusif-eyvazov/2101">

        

					
				<p class="title">Anna Netrebko & Yusif Eyvazov</p>
				<p class="subtitle">Das Traumpaar der Klassik</p>
				<p class="description"></p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=5740&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/16/db/16db1134-a794-49f2-a3ff-e4627e1e5222/2021-09-30_ms_netrebko_eyvazov_2021_840x400px.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/anna-netrebko-yusif-eyvazov/2101"></a>
			<div class="add-to-bookmarks" data-id="2101" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/haydn-die-schopfung/2635">
		<div class="date-time">
			<p class="day-word">Tue</p>
			<p class="day-number">30</p>
			<p class="month">Aug</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/haydn-die-schopfung/2635">

        

					
				<p class="title">Haydn: Die Schöpfung</p>
				<p class="subtitle">Concertgebouworkest | Philippe Herreweghe</p>
				<p class="description">Robin Johannsen | Werner Güra | Florian Boesch | Collegium Vocale Gent | Concertgebouworkest | Philippe Herreweghe: Haydn</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6075&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/29/25/2925ea06-25a6-44f3-b945-99257909f16f/collegium_vocale_gent_eric_de_mildt_km172357.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/haydn-die-schopfung/2635"></a>
			<div class="add-to-bookmarks" data-id="2635" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/concertgebouworkest-klaus-makela/2636">
		<div class="date-time">
			<p class="day-word">Wed</p>
			<p class="day-number">31</p>
			<p class="month">Aug</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      
			<a href="https://www.koelner-philharmonie.de/en/programm/concertgebouworkest-klaus-makela/2636">

        

					
				<p class="title">Concertgebouworkest | Klaus Mäkelä</p>
				<p class="subtitle">Mahler | Saariaho</p>
				<p class="description"></p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6076&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/46/6d/466dd45c-56ec-4fda-8db4-f1f9c8850a3b/maekelae__klaus_marco_borggreve_km172546.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/concertgebouworkest-klaus-makela/2636"></a>
			<div class="add-to-bookmarks" data-id="2636" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/philharmonielunch/3265">
		<div class="date-time">
			<p class="day-word">Thu</p>
			<p class="day-number">1</p>
			<p class="month">Sep</p>
			<p class="time">12:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/philharmonielunch/3265">

        

					
				<p class="title">PhilharmonieLunch</p>
				<p class="subtitle">30 Minuten einer Probe erleben</p>
				<p class="description">WDR Sinfonieorchester | Cristian Măcelaru: Rachmaninow</p>

				
				<!-- STATUS: event-for-free -->
				<p class="status">Admission free!</p>
				
		</a>

			
            
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/80/1b/801bae0a-8486-4425-a91f-23bca1c82243/philharmonielunch_heike_fischer_km131057.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/philharmonielunch/3265"></a>
			<div class="add-to-bookmarks" data-id="3265" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/hadelich-dvorak/2349">
		<div class="date-time">
			<p class="day-word">Fri</p>
			<p class="day-number">2</p>
			<p class="month">Sep</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/hadelich-dvorak/2349">

        

					
				<p class="title">Hadelich & Dvořák</p>
				<p class="subtitle">Augustin Hadelich | WDR Sinfonieorchester | Cristian Măcelaru</p>
				<p class="description">Augustin Hadelich | WDR Sinfonieorchester | Cristian Măcelaru: Dvořák | Rachmaninow</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6033&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/73/99/73993a57-3ace-4c45-9e3d-ec52414df70b/hadelich__augustin_suxiao_yang_km172851.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/hadelich-dvorak/2349"></a>
			<div class="add-to-bookmarks" data-id="2349" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/familienworkshop/2844">
		<div class="date-time">
			<p class="day-word">Sat</p>
			<p class="day-number">3</p>
			<p class="month">Sep</p>
			<p class="time">10:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/familienworkshop/2844">

        

					
				<p class="title">Familienworkshop</p>
				<p class="subtitle">»BAYIN – Eine Reise durch acht Klanggeschichten«</p>
				<p class="description">Duo SeidenStrasse</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6176&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/a3/cd/a3cd2e60-02cd-4a50-b3f0-ecba1066d4d3/duo_seidenstrasse_c_jannis_wiebuschhd.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/familienworkshop/2844"></a>
			<div class="add-to-bookmarks" data-id="2844" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/hadelich-dvorak/2780">
		<div class="date-time">
			<p class="day-word">Sat</p>
			<p class="day-number">3</p>
			<p class="month">Sep</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/hadelich-dvorak/2780">

        

					
				<p class="title">Hadelich & Dvořák</p>
				<p class="subtitle">Augustin Hadelich | WDR Sinfonieorchester | Cristian Măcelaru</p>
				<p class="description">Augustin Hadelich | WDR Sinfonieorchester | Cristian Măcelaru: Dvořák | Rachmaninow</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=5969&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/73/99/73993a57-3ace-4c45-9e3d-ec52414df70b/hadelich__augustin_suxiao_yang_km172851.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/hadelich-dvorak/2780"></a>
			<div class="add-to-bookmarks" data-id="2780" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
        
        <div class="event-list-item festival">
            <a href="https://www.philharmonie.tv">
                <div class="background" style="background: url(/media/filer_public_thumbnails/filer_public/ec/d2/ecd24693-df63-4b1c-bd92-6a0e43ba9b26/philharmonie_tv_joern_neumann_km126668.jpg__1300x220_q85_autocrop_crop-smart_cropper-banner-_subsampling-2.jpg) center center;">
                    <p class="title">Konzerte im Stream</p>
                    <p class="date">philharmonie.tv</p>
                </div>
            </a>
        </div>
        
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/lucerne-festival-contemporary-orchestra/2346">
		<div class="date-time">
			<p class="day-word">Sun</p>
			<p class="day-number">4</p>
			<p class="month">Sep</p>
			<p class="time">11:00</p>
		</div>
		<div class="info">
      
			<a href="https://www.koelner-philharmonie.de/en/programm/lucerne-festival-contemporary-orchestra/2346">

        

					
				<p class="title">Lucerne Festival Contemporary Orchestra</p>
				<p class="subtitle">Ammann | Rihm | Skrzypczak</p>
				<p class="description"></p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6160&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/5f/5c/5f5cdc44-c45e-46bd-beda-76828e882121/lucerne_festival_contemporary_orchestra_lucerne_festival_priska_ketterer_km174619.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/lucerne-festival-contemporary-orchestra/2346"></a>
			<div class="add-to-bookmarks" data-id="2346" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
        
	<!-- .event-list-item -->
	<div class="event-list-item weekend
	
	
	" data-url="/en/programm/anne-sophie-mutter-pittsburgh-symphony-orchestra-manfred-honeck/2633">
		<div class="date-time">
			<p class="day-word">Sun</p>
			<p class="day-number">4</p>
			<p class="month">Sep</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      
			<a href="https://www.koelner-philharmonie.de/en/programm/anne-sophie-mutter-pittsburgh-symphony-orchestra-manfred-honeck/2633">

        

					
				<p class="title">Anne-Sophie Mutter | Pittsburgh Symphony Orchestra | Manfred Honeck</p>
				<p class="subtitle">Beethoven | Tschaikowsky</p>
				<p class="description"></p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=400&amp;event=287&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/60/2a/602aba71-e648-40e1-ba31-9942f195049c/anne-sophie_mutter2-c-sebastian_madej_klein.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/anne-sophie-mutter-pittsburgh-symphony-orchestra-manfred-honeck/2633"></a>
			<div class="add-to-bookmarks" data-id="2633" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/the-cleveland-orchestra-franz-welser-most/2482">
		<div class="date-time">
			<p class="day-word">Mon</p>
			<p class="day-number">5</p>
			<p class="month">Sep</p>
			<p class="time">20:00</p>
		</div>
		<div class="info">
      
			<a href="https://www.koelner-philharmonie.de/en/programm/the-cleveland-orchestra-franz-welser-most/2482">

        

					
				<p class="title">The Cleveland Orchestra | Franz Welser-Möst</p>
				<p class="subtitle">Berg | Strauss</p>
				<p class="description"></p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6084&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/9c/7c/9c7c04c7-e0e3-4b89-a7cd-daae662961db/welser_moest__franz_julia_wesely_km171153.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/the-cleveland-orchestra-franz-welser-most/2482"></a>
			<div class="add-to-bookmarks" data-id="2482" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    

    
    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/philharmonielunch/3250">
		<div class="date-time">
			<p class="day-word">Thu</p>
			<p class="day-number">8</p>
			<p class="month">Sep</p>
			<p class="time">12:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/philharmonielunch/3250">

        

					
				<p class="title">PhilharmonieLunch</p>
				<p class="subtitle">30 Minuten einer Probe erleben</p>
				<p class="description">Gürzenich-Orchester Köln | François-Xavier Roth: Srnka</p>

				
				<!-- STATUS: event-for-free -->
				<p class="status">Admission free!</p>
				
		</a>

			
            
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/80/1b/801bae0a-8486-4425-a91f-23bca1c82243/philharmonielunch_heike_fischer_km131057.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/philharmonielunch/3250"></a>
			<div class="add-to-bookmarks" data-id="3250" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
        
	<!-- .event-list-item -->
	<div class="event-list-item
	
	
	" data-url="/en/programm/rap-mal-anders-symphonic-beats/2351">
		<div class="date-time">
			<p class="day-word">Thu</p>
			<p class="day-number">8</p>
			<p class="month">Sep</p>
			<p class="time">19:00</p>
		</div>
		<div class="info">
      <button class="button-show"></button>
			<a href="https://www.koelner-philharmonie.de/en/programm/rap-mal-anders-symphonic-beats/2351">

        

					
				<p class="title">Rap mal anders: Symphonic Beats</p>
				<p class="subtitle">Rote Mütze Raphi | ART | WDR Funkhausorchester | Michael Seal</p>
				<p class="description"> Rote Mütze Raphi |  ART | WDR Funkhausorchester | Michael Seal: Rap mal anders: Symphonic Beats</p>

				
		</a>

			
            
			
				<!-- NEW: #765 -->
				<div class="ticket-wrapper">
                
					<a href="https://tickets.koelner-philharmonie.de/webshop/webticket/shop?mandant=300&amp;event=6064&amp;language=en" class="buy-ticket"><span class="icon icon-tickets-black"></span>Buy tickets</a>
                
                
				</div>
			


			

			

		</div>
		<div class="image" style="background-image: url(https://www.koelner-philharmonie.de/media/filer_public_thumbnails/filer_public/ac/e1/ace1cf88-12e6-4108-87e8-20d753a5dc9c/rotzemuetzeraphi_2_c_daniel_v_lutai_0222hd.jpg__330x220_q85_autocrop_crop-smart_cropper-event_list-_subsampling-2.jpg);">
			<a href="https://www.koelner-philharmonie.de/en/programm/rap-mal-anders-symphonic-beats/2351"></a>
			<div class="add-to-bookmarks" data-id="2351" data-type="163"></div>
		</div>
	</div>
	<!-- /.event-list-item -->

    
    


<div data-url="/en/programm/09-09-2022/" data-banner_id="10" class="next_data_url">
    
    <div class="preloader">
        <!-- .event-list-item -->
		<div class="event-list-item">
			<div class="day-word"></div>
			<div class="date-time"></div>
			<div class="info">
				<div class="wrapper">
					<div class="white-line"></div>
					<div class="white-line-2"></div>
					<div class="shimer"></div>
				</div>
			</div>
			<div class="image"></div>
		</div>
        <!-- /.event-list-item -->
    </div>
    
</div>


						</div>
					</div>
				</section>
				<!-- /section -->
			</div>

			
		</main>
		
	</div>
	<!-- end:page-contaliner -->

	<!-- .floating-buttons -->
	<div class="floating-buttons">
		<div class="call button">
			<a href="tel:0049221280280">
				<span class="icon-telephone"></span>
			</a>
		</div>
		<div class="scroll-top button">
			<span class="icon-arrow-up"></span>
		</div>
	</div>
	<!-- /.floating-buttons -->

	<script type="text/template" id="template-calendar">
	<div class="clndr-controls">
		<div class="clndr-control-button"><span class="clndr-previous-button"><span class="icon-arrow-left"></span></span></div>
		<div class="month">
			<%= month %>
		</div>
		<div class="clndr-control-button rightalign"><span class="clndr-next-button"><span class="icon-arrow-right"></span></span></div>
	</div>
	<table class="clndr-table" border="0" cellspacing="1" cellpadding="0">
		<thead>
			<tr class="header-days">
				<% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
					<td class="header-day">
						<%= daysOfTheWeek[i] %>
					</td>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% for(var i = 0; i < numberOfRows; i++){ %>
				<tr>
					<% for(var j = 0; j < 7; j++){ %>
						<% var d = j + i * 7; %>
						<td class="<%= days[d].classes %>">
							<div class="day-contents">
								<%= days[d].day %>
							</div>
						</td>
					<% } %>
				</tr>
			<% } %>
		</tbody>
	</table>
</script>

	
	<!-- AboPlus-Overlay -->
	

<div id="aboplus-overlay" style="display: none">
	<h3>AboPlus</h3>
	<p>AboPlus, our benefit program for subscribers of KölnMusik. As a subscriber, you gain an exclusive access to presale for all KölnMusik concerts one week before the advance sale. You also get up to 25% discount on selected concerts and enjoy many other benefits. Interested in becoming a subscriber?</p>
	<br>
	<a href="/en/abos" class="button gold">Sign up as subscriber</a>
</div>

	<script>
		var DjangoApp = {
			settings: {
				language: 'en',
				selectedDate: '2022-08-26',
			},
			translations: {
				form: {
					success: 'Fast geschafft. Wir haben Ihnen eine Bestätigungs-E-Mail zugesandt. Bitte prüfen Sie Ihren Posteingang  und bestätigen Sie Ihre E-Mail-Adresse durch klicken auf den Link',
					error: 'Vielen Dank! Sie haben sich erfolgreich für die Newsletter der Kölner Philharmonie angemeldet',
					isEmpty: 'Dieses Feld ist zwingend erforderlich',
					mailNotValid: 'Bitte eine gültige E-Mail-Adresse eingeben',
				},
				readmore: {
					more: 'Read more',
					less: 'Read less'
				},
				siteTitle: 'Kölner Philharmonie',
				calendar: {
					daysOfTheWeek: [
						'Mo',
						'Tu',
						'We',
						'Th',
						'Fr',
						'Sa',
						'Su',
					],
					daysOfTheWeekEn: [
						'Su',
						'Mo',
						'Tu',
						'We',
						'Th',
						'Fr',
						'Sa',
					],
				},
				bookmarks: {
					addToBookmarks: 'Favorit',
					removeFromBookmarks: 'Aus Merkliste entfernen',
					emptyBookmarksText: '<p>No item on your wish list.</p><p>Use <span class="icon-star"></span> to add <a href="/en/programm">concerts</a>, <a href="/en/abos">abonnements</a> and <a href="/en/series">other</a> to your personal wish list.</p>'
				}
			}
		}
	</script>
	
	<script src="/static/template/js/build/app.min.js"></script>
	<script src="/static/js/search.js"></script>
	<script type="text/javascript">
	  $(document).ready(function(){
		  search = new Search(url = 'https://www.koelner-philharmonie.de/en/search');
		  search.init();
	  });
	</script>
	<script type="text/javascript">
	  var kpConfig = {
		bookmarksBaseURL: '/en/api/bookmarks',
		bookmarksClassName: 'add-to-bookmarks',
		bookmarksListClassName: 'bookmarks-list',
		bookmarksCounterClassName: 'bookmarks-icon-star',
	  };
	</script>
	<script src="/static/js/bookmarks.js" type="text/javascript"></script>
	
	<script src="/static/js/eventlist.js" type="text/javascript"></script>
	<script type="text/javascript">
		localStorage.setItem('is_filtered', false);
	</script>


	


<div id="cookie-manager"></div>

<script>
  !function(e,a,t,n,c,g,o){e.GoogleAnalyticsObject="ga",e.ga=e.ga||function(){(e.ga.q=e.ga.q||[]).push(arguments)},e.ga.l=1*new Date,g=a.createElement(t),o=a.getElementsByTagName(t)[0],g.async=1,g.src="https://www.google-analytics.com/analytics.js",o.parentNode.insertBefore(g,o)}(window,document,"script");
</script>

<script>
  window.CookieManagerConfig = {
    debug: false,

    // analytics
    initialTracking: true,
    analyticsId: 'UA-106410011-1',

    cookieServices: {
      requiredCookies: [],
      trackingCookies: ['googleTagManager'],
      marketingCookies: ['externalMedia'],
    },
     mainDomain: 'koelner-philharmonie.de',  
    cookieDomains: [
      'koelner-philharmonie.de',
      '.koelner-philharmonie.de',
      'www.koelner-philharmonie.de',
      '.www.koelner-philharmonie.de',      
      'staging.koelner-philharmonie.de',
      '.staging.koelner-philharmonie.de',
      'tickets.koelner-philharmonie.de',
      '.tickets.koelner-philharmonie.de',
      '127.0.0.1',
    ],
    pagesToExclude: [
      // en
      '/en/datenschutz',
      '/en/datenschutzDSGVO',
      '/en/datenschutzhinweise',
      // de
      '/de/datenschutzDSGVO',
      '/de/datenschutzhinweise',
      '/de/datenschutz',
    ],
    hostsToExclude: [
    ],
    translations: {
      introduction: {
        title: 'We use cookies',
        text: 'We use cookies to ensure that this website functions properly and to provide you with the best possible service. Here you can manage your settings. By clicking on "Accept all", you agree that your cookies will be used for this purpose.<br>For more information, please refer to our policy under <a href="/en/datenschutz">Privacy Policy</a>.',
      },
      settings: {
        title: 'Edit Cookie settings',
        text: 'Please select and accept your cookie settings here.',
        subtitle: 'All details regarding our cookies are available in our <a href="/en/datenschutz">privacy policy</a>.',
        permissions: {
          requiredCookies: {
            title: 'Only required tracking settings',
            text: 'We use cookies to enable the operation of the website and to ensure that security-relevant and other functions work properly (i.e. the possibility to log in or to add concerts to the shopping cart). This tracking is always activated.',
          },
          trackingCookies: {
            title: 'Optimization',
            text: 'Wir nutzen funktionales Tracking mit Google Analytics, um unser Angebot und unsere Webseite weiter zu verbessern. Die erfassten Daten helfen uns, Fehler zu entdecken und neue Funktionalitäten zu entwickeln; außerdem erhalten wir durch diese Cookies Erkenntnisse für Werbeanalysen und Affiliate-Marketing.',
          },
          marketingCookies: {
            title: 'External media platforms',
            text: 'With these cookies we ensure the functionality of external media platforms, such as yumpu.com to display our magazine.',
          },
        },
      },
      buttons: {
        accept: 'Accept all',
        onlyRequired: 'Only required',
        deleteCookies: 'Delete cookies',
        editSettings: 'Edit settings',
        saveSettings: 'Save settings',
      },
      messages: {
        cookiesDeleted: 'Cookies has been deleted',
      }
    }
  }
</script>
<script src="/static/components/CookieManager/js/app.js"></script>
</body>
</html>
